body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #000;
}

#gameContainer {
    width: 480px;
    height: 320px;
    overflow: hidden;
    position: relative;
    background-color: #000;
}

canvas {
    position: absolute;
}
